---
import Layout from '../layouts/Layout.astro';

const title = 'Electrical Service Experts | Battle Electric';
const description = 'Your trusted partner for all electrical services, from installations to repairs. Serving residential and commercial clients with expertise and reliability.';
const canonical = 'https://battleelectricfl.com/';
---

<Layout title={title} description={description} canonical={canonical}>
	<h1 class="font-bold text-4xl">Battle Electric</h1>
	
</Layout>
