---
---

<div class="contact-form max-w-2xl mx-auto p-8">
	<div class="text-center mb-12">
		<h1 class="text-4xl font-bold mb-4">Get in touch</h1>
		<p class="text-gray-600 text-lg mb-2">Have any questions about your order or feedback about our service?</p>
		<p class="text-gray-600 italic">We'd love to hear from you.</p>
	</div>

	<!--Start of Housecallpro Lead Capture code-->
	<script async src="https://online-booking.housecallpro.com/script.js?token=0a0ee6deb6654e768f92791029509929&orgName=BATTLE-Electric-LLC"></script>
	<iframe
		style="border: none; width: 100%; min-height: 600px;"
		id="hcp-lead-iframe"
		src="https://book.housecallpro.com/lead-form/BATTLE-Electric-LLC/0a0ee6deb6654e768f92791029509929"
	></iframe>
	<!--End of Housecallpro Lead Capture code-->
</div>
